.app-button {
    @apply
        select-none
        flex-none
        inline-flex
        items-center
        justify-center
        outline-none
        no-underline
        hover:no-underline
        text-[16px]
        leading-[1.13]
        font-bold
        tracking-[-0.16px]
        uppercase
        py-2.5
        px-5
        rounded-[60px]
        bg-transparent
        border
        border-transparent
        transition-all
        duration-100
        focus-visible:scale-[1.05]
        active:scale-[1.03]
    ;

    &--primary {
        @apply
            text-white
            bg-brand
            hover:bg-opacity-90
            
        ;
    }

    &--secondary {
        @apply
            border-neutral
            hover:bg-neutral
            hover:bg-opacity-20
        ;
    }

    &--dark {
        @apply
            text-white
            bg-dark
            hover:bg-opacity-90
        ;
    }

    &--light {
        @apply
            border-white
            text-white
            border-opacity-20
            hover:border-opacity-50
        ;
    }

    &.disabled,
    &[disabled] {
        @apply 
            opacity-50 
            pointer-events-none
        ;
    }
}