.app-checkmark {
    @apply 
        flex-none
        w-4
        h-4
        relative
    ;

    .svg-icon {
        @apply
            cursor-pointer
            text-brand
            w-full
            h-full
            pointer-events-none
            flex
            items-center
            justify-center
            duration-300
            border
            outline-none
            border-neutral
        ;

        svg {
            @apply 
                w-[70%]
                h-[70%]
                transition-all
                scale-0
                opacity-0
            ;
        }
    }

    input {
        @apply 
            cursor-pointer
            outline-none
            w-full
            h-full
            p-0
            m-0
            absolute
            z-[5]
            left-0
            right-0
            top-0
            bottom-0
            opacity-0
        ;

        &:checked ~ .svg-icon svg {
            @apply 
                scale-100 
                opacity-100
                pointer-events-none
                cursor-crosshair
            ;
        }

        &:checked ~ .svg-icon,
        &:focus-visible ~ .svg-icon,
        &:focus ~ .svg-icon {
            @apply border-brand;
        }

        &:disabled {
            @apply 
                pointer-events-none
            ;
        }

        &:disabled ~ .svg-icon {
            @apply 
                opacity-50 
                pointer-events-none
            ;
        }
    }

    input[type="radio"] ~ .svg-icon {
        @apply 
            rounded-full
        ;

        svg {
            @apply 
                w-2.5
                h-2.5
            ;
        }
    }
}

.app-form-control {
    @apply 
        py-2
        outline-none
        bg-transparent
        border-t-0
        border-l-0
        border-r-0
        border-b
        border-neutral
        w-full
        text-[14px]
        font-semibold
        leading-[1.1]
        tracking-[-0.28px]
        text-dark
        placeholder:text-dark
        placeholder:text-opacity-50
        transition-[border,box-shadow]
        duration-300
        focus:border-brand
    ;

    &.is-error {
        @apply 
            border-red-400
        ;
    }
}