.three-lamp {
    @apply
        transform-gpu
        transition-opacity
        duration-[.9s]
        opacity-0
        pointer-events-none
        absolute
    ;

    &--main-right {
        @apply
            -z-[1]
            w-[340px]
            h-[340px]
            top-[20%]
            left-[80%]
            md:w-[460px]
            md:h-[460px]
            md:left-[70%]
            md:top-[10%]
            xl:w-[600px]
            xl:h-[600px]
            xl:top-[0]
            xl:left-auto
            xl:-right-[150px]
        ;
    }

    &--main-left {
        @apply
            -z-[1]
            h-[180px]
            w-[180px]
            top-0
            left-0
            -translate-x-[60%]
            blur-[10px]
            md:w-[260px]
            md:h-[260px]
            md:-translate-x-[70%]
            md:top-[20%]
            xl:top-[40%]
            xl:-translate-x-[40%]
        ;
    }

    &--main-banner {
        @apply 
            z-[20]
            h-[230px]
            w-[230px]
            top-0
            -left-[100px]
            -translate-y-[15%]
            md:h-[300px]
            md:w-[300px]
            xl:left-[110px]
            xl:-translate-y-[20%]
            xl:h-[360px]
            xl:w-[360px]
        ;
    }

    &--subscribe-left {
        @apply 
            -z-[1]
            w-[300px]
            h-[300px]
            left-0
            blur-[10px]
            -translate-x-[70%]
        ;
    }

    &--subscribe-right {
        @apply 
            -z-[1]
            right-0
            bottom-0
            translate-x-[40%]
            w-[620px]
            h-[620px]
            hidden
            xl:block
        ;
    }

    &--footer {
        @apply 
            -z-[1]
            w-[330px]
            h-[330px]
            left-0
            top-[30%]
            -translate-x-[50%]
            hidden
            md:block
            md:w-[360px]
            md:h-[360px]
            xl:top-[35%]
            xl:-translate-x-[140%]
            xl:left-1/2
        ;
    }

    &.is-loaded {
        @apply 
            opacity-100
        ;
    }
}