.rounded-icon {
    @apply 
        relative
        inline-flex 
        flex-none
        items-center 
        justify-center 
        w-[44px] 
        h-[44px] 
        rounded-full 
        border 
        transition-all
        duration-300
        cursor-pointer
        border-neutral 
        text-brand
        hover:ring-1
        hover:border-brand
        hover:ring-brand
        [&.is-active-link]:ring-1
        [&.is-active-link]:border-brand
        [&.is-active-link]:ring-brand
    ;

    &:hover {
        .badge {
            @apply scale-125;
        }
    }

    .svg-icon {
        @apply block;
    }

    .badge {
        @apply
            absolute
            left-[50%]
            top-[5px]
            transition-transform
            duration-300
        ;
    }

    &--light {
        @apply 
            border-white
            border-opacity-20
            text-stone
            hover:ring-white
            hover:border-white
            hover:ring-opacity-50
            hover:border-opacity-50
        ;
    }
}