.svg-icon {
    flex: none;
    width: 24px;
    height: 24px;
    display: inline-block;
    fill: currentColor;

    svg {
        display: block;
        width: inherit;
        height: inherit;
        fill: inherit;
    }

    &--stroke {
        fill: none;
        stroke: currentColor;
    }

    &--nofill {
       fill: none;
    }
}