html {
    @apply font-base text-dark;
    -webkit-tap-highlight-color: transparent;
}

body {
    @apply 
        relative 
        min-h-[100vh]
        min-w-[320px]
        text-[16px]
    ;

    &.is-modal-open,
    &.is-offcanvas-open {
        @apply overflow-hidden;
    }
}

.centered {
    @apply w-[1440px] max-w-full mx-auto px-4 md:px-16;
}

[hidden] {
    @apply hidden;
}

[v-cloak] {
    @apply hidden;
}

a:not(a[class]) {
    @apply
        text-brand
        hover:text-brand
        hover:underline
    ;
}

.app-wrapper {
    @apply 
        flex
        flex-col
        min-h-[inherit]
    ;
}

::selection {
    @apply 
        text-white
        bg-brand
    ;
}

/* width */
::-webkit-scrollbar {
    @apply 
        w-2.5
    ;
}

/* Track */
::-webkit-scrollbar-track {
    @apply bg-transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply 
        rounded-sm
        bg-dark 
        bg-opacity-40
    ;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply 
        bg-opacity-60
    ;
}