* {
    @apply box-border;
}

html {
    @apply font-base text-dark;
}

body {
    @apply relative min-h-[100vh] min-w-[320px] text-[16px];
}

.centered {
    @apply max-w-[1440px] mx-auto px-4 md:px-16;
}

[hidden] {
    @apply 
        hidden
    ;
}

.is-active-link:not(.app-footer .is-active-link) {
    @apply text-brand;
}
.app-footer .is-active-link {
    @apply underline;
}

a:not(a[class]) {
    @apply
        text-brand
        hover:text-brand
        hover:underline
    ;
}