html {
    @apply font-base text-dark;
}

body {
    @apply relative min-h-[100vh] min-w-[320px] text-[16px];
}

.centered {
    @apply w-[1440px] max-w-full mx-auto px-4 md:px-16;
}

[hidden] {
    @apply hidden;
}

.is-active-link:not(.app-footer .is-active-link):not(.app-button) {
    @apply text-brand;
}

.app-footer .is-active-link {
    @apply underline;
}

a:not(a[class]) {
    @apply
        text-brand
        hover:text-brand
        hover:underline
    ;
}

.app-wrapper {
    @apply 
        flex
        flex-col
        min-h-[inherit]
    ;
}

::selection {
    @apply 
        text-white
        bg-brand
    ;
}